#home {
  width: 40px;
   }

#full {
	width: 1000px;
	margin-top: 100px;
	 }

#full_top {
	width: 1000px;
	margin-top: 50px;
	 }

.h1 {
	font-size: 16pt;
}

.card {
	border: 1px solid grey;
	background: orange;
}