<div class="wrapper_gradient">
<div class="container" id="container">
	<div class="row" style="background: linear-gradient(-45deg, rgba(255,255,255,0.4), rgba(255,255,255,0))">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_column"  style="min-height: 35vh; padding-top: 5vh; width: 100%">
            <%=image_tag("logo_vision3.png", :class=> 'logo_v3')%>
        </div> 

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flexbox" style="padding: 0; min-height: 20vh">
            <a href="expertise-sante-securite">
            <div class="flex_column_picto" id="sante">

	            <%=image_tag("logo_picto01.png", :class=> 'logo_info')%>
                <span class="logo_title noSelect" style="margin-top: -2vh">SANTÉ - SÉCURITÉ<br />AU TRAVAIL</span>
                
            </div>
			</a>
			<a href="digital-learning">
            <div class="flex_column_picto" id="contenu">
            	<%=image_tag("logo_picto02.png", :class=> 'logo_info')%>
	        
                <span class="logo_title noSelect" style="margin-top: -2vh">CONTENU PÉDAGOGIQUE<br />SUR MESURE</span>
                
            </div>
            </a>
            <a href="plateforme-lms">
            <div class="flex_column_picto" id="plateforme">
            	<%=image_tag("logo_picto03.png", :class=> 'logo_info')%>
	        
                <span class="logo_title noSelect" style="margin-top: -2vh">PLATEFORME<br />LMS</span>
            
            </div>
            </a>
		</div>
        
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex_column" style="padding: 0; width: 100%; min-height: 25vh; margin-top: 5vh">
			<div class="spacer"></div>
            <div class="message noSelect" style="text-align: center;margin-top: 1em; margin-bottom: 1em; width: 70vw; padding-left: 5vh; padding-right: 5vh">
			<em style="color: #FF9B00">Vision 3</em>, une solution sur mesure, depuis 1999, pour vos formation <em style="color: #FF9B00">e-learning !</em> Conseil, accompagnement, écoute pour un projet <em style="color: #FF9B00">qui vous ressemble.</em>
			</div>
        </div>
       
    </div>
     
            
</div>    
</div>
<div id="footer" style="margin: 0; position: absolute; left: 0px"></div>
    

