
<div class="orange">
	<div class="container" id="full">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 image_center">
				<%=image_tag("nuage_mots.png")%>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 flexbox">
				<div>
					<%=image_tag("qsn_metier_plateforme_lms.png", :class=> 'flex image_small')%>
					<%=image_tag("qsn_metier_contenu_pedagogique.png", :class=> 'flex image_small', :id=> 'picto_down')%>
					<%=image_tag("qsn_metier_sante_secu.png", :class=> 'flex image_small')%>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="full_top">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h1 class="center">Vision 3, une solution sur mesure, depuis 1999, pour vos formation e-learning !
				Conseil, accompagnement, écoute pour un projet qui vous ressemble.</h1>
			</div>
		</div>
	</div>
</div>