@import 'bootstrap-sprockets';
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";

.img-circular{
width: 20px;
height: 20px;
background: #DEFTHR;
background-size: cover;
display: block;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
}